
/*--------------
All Contents
--------------*/

/*-----------------
1. Reset.css
2. Helper Classes
3. Hamburger and Menu Styling
4. All homepage sections styling
	- Home Page intro
	- Home Work Section
	- Home portfolio
	- Clients-section
	- Home Slider
5. About Page Styling
6. Portfolio Page
7. Projecr Single Page Styling
8. Services Page Styles
9. Contact Page Stylins
10. All Media Queries
------------------*/


/*----- 1. Reset.css -----*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --- Common Styles ---*/

h1 {
	font-family: 'Roboto';
  font-size: 16px;
}

h3 {
	font-family: 'Poppins';
}

p {
	font-family: 'Poppins';
	font-size: 14px;
}

/*----- Helper Classes -----*/

html * {
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
   margin:0;
   padding:0;
   height:100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}


::-moz-selection {
    color: #1106CC;
    background: #FFFFFF;
}

::selection {
    color: #1106CC;
    background: #FFFFFF;
}

.nopadding {
	padding: 0;
}

.custom-padding {
	padding-left: 10px;
	padding-right: 10px;
}

.no-margin {
	margin-right: 0;
	margin-left: 0;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   opacity: 1;
   background-color: rgba(255, 255, 255, 0.99);
   z-index: 999;
   text-align: center;
}


/* -----Body Border -----*/

#top, #bottom, #left, #right {
	background: #F3F3F3;
	position: fixed;
  z-index: 111;
	}
#left, #right {
		top: 0; bottom: 0;
		width: 0;
		}
#left { left: 0; }
#right { right: 0; }

#top {
		left: 0; right: 0;
		height: 0;
	}
#bottom {
		left: 0; right: 0;
		height: 10px;
	}

#top { top: 0; }
#bottom { bottom: 0; }

/* ------ Body Border End ------*/


.logo {
	position: absolute;
	top: 30px;
	left: 8.5%;
	font-family: 'Roboto';
	font-size: 28px;
	line-height: 1;
	white-space: nowrap;
	color: #222222;
	font-weight: 900;
	letter-spacing: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.logo:hover, .logo:focus {
	text-decoration: none;
	color: #333333;
}



/* -----------------------------------------------------
---------- 3. Hamburger and Navigation Starts ----------
-------------------------------------------------------*/



.nav-trigger {
  width: 40px;
	height: 40px;
  position: fixed;
  top: 25px;
  right: 8.5%;
  border-radius: 0;
	z-index: 111;
  transition: all 400ms ease-in;
  user-select: none;
}

.is-active.nav-trigger {
  background: #F9F9F9;
}

.hamburger {
  position: relative;
  width: 25px;
  height: 25px;
	left: 20%;
	top: 20%;
  transition: transform 500ms ease-in-out;
}

.nav-trigger:active .hamburger {
  transition: transform 50ms;
  transform: scale(.95);
}

.hamburger::before, .hamburger::after, .hamburger .icon {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
	left: 2px;
  background: #222222;
  transform-origin: 100% 50%;
  transition: all 100ms ease-in-out;
}

.hamburger::before {
  top: 5px;
}
.hamburger .icon {
	width: 21px;
  top: 11px;
  transform-origin: 50% 50%;
}
.hamburger::after {
  top: 17px;
}

.is-active .hamburger::before,
.is-active .hamburger::after,
.is-active .hamburger .icon {
  background: #222222;
}

.is-active .hamburger::before {
  transform: translate3d(-4px, -1px, 0) rotateZ(-45deg);
}
.is-active .hamburger .icon {
  transform: rotateY(-90deg);
  transition: transform 100ms, background-color 400ms ease-in-out;
}
.is-active .hamburger::after {
  transform: translate3d(-4px, 2px, 0) rotateZ(45deg);
}



/* ----- Dimming Main Content When Navigation is Active -----*/

.main::before {
    display: block;
    content: "";
    width: 100%;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -moz-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -o-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    transition: opacity 0.5s ease, height 1ms 0.5s ease;
}

.is-active.main::before {
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    height: 100%;
    opacity: 1
}



/* ----------------------------------------------------------
------------ Hamburger and Navigation Styling Ends ----------
------------------------------------------------------------*/



/* ------------------------------------------------------
-------------- Top Nav Menu Styling Starts --------------
--------------------------------------------------------*/


#top-nav {
	position: absolute;
	top: 40px;
	right: 13%;
}

#top-nav ul {
	list-style-type: none;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

#top-nav li {
    visibility: hidden;
    opacity: 0;
		display: inline-block;
		margin-right: 20px;
		-webkit-transform: translateX(30px);
		-moz-transform: translateX(30px);
		-ms-transform: translateX(30px);
		-o-transform: translateX(30px);
		transform: translateX(30px);
	/*	-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: all 0.5s;
		-webkit-transition-duration: .1s;
		-moz-transition-duration: .1s;
		transition-duration: .1s;
		-webkit-transition-delay: 0;
		-moz-transition-delay: 0;
		transition-delay: 0;
    -webkit-transition-timing-function: cubic-bezier(.25, .5, .55, .95);
    -moz-transition-timing-function: cubic-bezier(.25, .5, .55, .95);
    transition-timing-function: cubic-bezier(.25, .5, .55, .95);*/
}


#top-nav ul li a {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	color: #666666;
	position: relative;
	display: inline-block;
	text-decoration: none;
}


#top-nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #FF3300;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#top-nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.no-touch #top-nav ul li a:hover {
  text-decoration: none;
  color: #000;
}


#top-nav li:nth-child(n+1) {
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    transition-delay: .1s;
}

#top-nav li:nth-child(n+2) {
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}

#top-nav li:nth-child(n+3) {
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    transition-delay: .25s;
}

#top-nav li:nth-child(n+4) {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    transition-delay: .3s;
}

#top-nav li:nth-child(n+5) {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    transition-delay: .4s;
}


#top-nav.is-active li {
    visibility: visible;
    opacity: 1;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    transition-delay: .1s
}


#top-nav.is-active li:nth-last-child(n+1) {
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    transition-delay: .1s
}

#top-nav.is-active li:nth-last-child(n+2) {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
    transition-delay: .15s
}

#top-nav.is-active li:nth-last-child(n+3) {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .20s;
    -moz-transition-delay: .20s;
    transition-delay: .20s
}

#top-nav.is-active li:nth-last-child(n+4) {
    -webkit-transition-duration: .4s;
    -moz-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    transition-delay: .25s
}

#top-nav.is-active li:nth-last-child(n+5) {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    transition-delay: .3s
}

#top-nav.is-active li:nth-last-child(n+6) {
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    transition-delay: .4s
}



/* ------ Nav Menu Styling -----*/

#nav-menu {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 110;
  width: 75%;
  background-color: #111111;
	background-size: cover;
	overflow-y: auto;
	box-shadow: 0 0 0 1px #FFFFFF;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
    transition: all .6s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


#nav-menu .navigation {
  margin-top: 150px;
  margin-bottom: 20px;
}


#nav-menu li {
  padding-bottom: 1em;
}

#nav-menu li {
  display: block;
  line-height: 2;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  line-height: 2;
  padding-bottom: 1em;
  color: #FFFFFF;
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	transform: translateX(50px);
	-webkit-transition: .8s;
  -moz-transition: .8s;
    transition: .8s;
}

#nav-menu a {
  position: relative;
  color: #FFFFFF;
	text-decoration: none;
}


#nav-menu a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #FF3300;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

#nav-menu li:hover a::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.no-touch #nav-menu a:hover {
  color: #000;
	text-decoration: none;
}

.nav-social ul {
  padding: 0.5em;
  list-style-type: none;
	text-align: center;
}

.nav-social li {
  display: inline !important;
  padding-right: 0.5em !important;
	padding-left: 0.5em !important;
}

.nav-social i, .nav-social a {
  font-size: 21px;
  color: #FF3300;
}

.nav-social a:before {
  display: none;
}

#nav-menu .copyright-text {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
	color: #FFFFFF;
	text-align: center;
  letter-spacing: 1px;
  padding: 20px 20px;
}




#nav-menu.is-active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-overflow-scrolling: touch;
}


#nav-menu.is-active li {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: .8s 0s;
  -moz-transition: .8s 0s;
    transition: .8s 0s;
}


@media only screen and (min-width: 768px) {

	#nav-menu {
	  width: 50%;
	}

  #nav-menu .navigation {
    margin-top: 150px;
  }

	#nav-menu li {
	  font-size: 24px;
	  text-align: center;
	  padding-left: 0em;
	}

  .nav-social ul {
    padding: 0.4em;
  }
}





/*---------------------------------------------------------
---------------- Menu navigation Styling Ends -------------
----------------------------------------------------------*/


.main {
	background: #FFFFFF;
	width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.main .hero {
	width: 100%;
	height: 100%;
	background: #FFF;
	background-size: cover;
	padding: 150px 0 100px 0;
}

.main .intro {
	padding: 200px 0 70px 0;
	overflow: hidden;
	background: #FFFFFF;
}


.main .intro h1 {
	font-size: 42px;
	color: #333333;
	line-height: 1;
	font-weight: 900;
	letter-spacing: 0;
	margin: 0 0 20px 0;
}

.main .intro h4 {
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4;
	margin: 0 0 20px 0;
}

.main .intro p {
	font-size: 14px;
	color: #A1A1A1;
	line-height: 1.4;
	font-weight: 400;
	letter-spacing: 0;
}

.main .intro p a {
	color: #FF3300;
	text-decoration: none;
}

.btn-action {
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	padding: 10px 16px;
	color: #FFFFFF;
	background: #111111;
	border-radius: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 30px auto;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-action:hover, .btn-action:focus {
	border-color: #FF3300;
	background: transparent;
	color: #FF3300;
}






/*-----------------------------------------------------
--------- Portfolio Page Styling Starts ---------------
-----------------------------------------------------*/

.portfolio {
	padding: 0 0 50px 0;
	background: #FFFFFF;
	overflow: hidden;
}

.portfolio-page {
	padding: 150px 0 0 0;
	overflow: hidden;
}

.portfolio-intro {
	text-align: center;
	padding: 0 0 50px 0;
}

.portfolio-intro h1 {
	font-family: 'Poppins';
	font-size: 28px;
	font-weight: 700;
	margin: 0 0 10px 0;
}

.portfolio-intro p {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.4;
	margin: 0 0 20px 0;
}

.portfolio-intro p:after {
	content: "";
	display: block;
	height: 1px;
	width: 100px;
	background: #A1A1A1;
	margin: 0 auto;
	margin-top: 15px
}

.portfolio-button {
	padding: 30px 0 30px 0;
}

.portfolio nav {
 padding-bottom: 50px;
 text-align: left;
}

.portfolio .categories ul li {
 display: inline;
  list-style: none;
}

.portfolio .categories ul li a {
   display: inline-block;
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
	 line-height: 1;
	 letter-spacing: 1px;
	 padding: 6px 10px;
   text-decoration: none;
	 text-transform: capitalize;
   color: #808080;
   margin-right: 10px;
}

.portfolio .categories ul li a.active {
	display: inline-block;
   text-decoration: none;
   color: #FFF;
	 background: #222;
	 border-radius: 30px;
}

.portfolio_filter {
   padding-left: 0;
}

@media (max-width: 991px) {
   .portfolio span {
       margin-bottom: 0;
       text-align: center;
       width: 100%;
   }
   .portfolio .categories ul li {
       text-align: center;
   }
   .portfolio .categories ul li a {
       margin-left: 20px;
   }
}

@media only screen and (max-width: 420px) {

  .portfolio-3-intro {
    padding: 1em;
  }

  .portfolio-3-intro h1 {
    font-size: 2em;
  }

 .portfolio .categories ul li {
   display: block;
     text-align: center;
 }
 .portfolio .categories ul li a {
  display: block;
  line-height: 1;
  padding: 5px 25px;
  margin-left: 0px;
  margin-bottom: 20px;
 }
}

.portfolio_item {
  overflow: hidden;
  margin-bottom: 0;
  display: block;
}

.item-details {
	text-align: left;
	padding: 0 0 60px 0;
}

.item-details h1 {
	font-family: 'Poppins';
	font-size: 21px;
	font-weight: 400;
	color: #404040;
	margin: 0 0 10px 0;
}

.item-details p {
	font-family: Poppins;
	font-size: 14px;
	color: #BFBFBF;
}

.portfolio-overlay {
 background: #FAFAFA;
 opacity: 0;
 position:absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
   transition: all 0.5s;

}

.overlay-items {
 position: absolute;
 top: 45%;
 left: 0;
 right: 0;
}

.overlay-items h2 {
 font-family: 'Roboto';
 display: block;
 color: #3D3D3D;
 font-size: 28px;
 font-weight: 900;
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -o-transform: translateY(0);
	transform: translateY(0);
 -webkit-transition: all .5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 transition: all .5s;
 opacity: 0;
}

.overlay-items p {
 margin-top: 10px;
 opacity: 0;
 font-size: 13px;
 font-family: Poppins;
 line-height: 1.5;
 letter-spacing: 0;
 color: #2D2D2D;
 display: inline-block;
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
 -webkit-transition: all .5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 transition: all .5s;
}

.portfolio_item:focus, .portfolio_item:hover {
  text-decoration: none;
}

.portfolio_item:hover .portfolio-overlay {
 	opacity: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
		transition: all 0.5s;
}

.portfolio_item:hover h2, .portfolio_item:hover p {
 opacity: 1;
 -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
	 transition: all 0.5s;
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
}

.colored p {
 background: #000000 !important;
}

/*-----------------------------------------------------
----------- Portfolio Page Styling Ends ---------------
-----------------------------------------------------*/


/* ---------------------------------------------------------------
--------------------- CTA Section Styling Starts -----------------
-----------------------------------------------------------------*/

.cta {
	background: #FFFFFF;
	padding: 75px 0 50px 0;
	overflow: hidden;
}

.cta .inner {
	padding: 0 10px 0 10px;
	overflow: hidden;
}

.cta .inner h1 {
	color: #3D3D3D;
	font-size: 28px;
	font-weight: 400;
	line-height: 1.2;
}


.about .cta {
	padding: 0 0 50px 0;
}

.about .cta .inner h1 {
	color: #3D3D3D;
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
}

.about .cta .btn-action {
	font-size: 16px;
	padding: 8px 12px;
	background: transparent;
	border-color: #FF3300;
	color: #FF3300;
}

.about .cta .btn-action:hover {
	background: #FF3300;
	border-color: #FF3300;
	color: #FFFFFF;
}


/* ------------------------------------------------------------
--------------- About Page Styling Starts Here ----------------
-------------------------------------------------------------*/

.about {
	padding: 200px 0 0 0;
}

.about .about-intro {
	overflow: hidden;
}

.about .about-intro h1 {
	color: #3D3D3D;
	font-size: 34px;
	font-weight: 900;
	line-height: 1;
}

.about .about-intro p {
	color: #A1A1A1;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	margin: 20px 0 0 0;
}

/* ------ About Team Section ----- */

.about .team-section {
	padding: 100px 0 50px 0;
	overflow: hidden;
}


.about .team-intro {
	padding: 0 0 50px 0;
}

.about .team-intro h4 {
	font-family: 'Poppins';
	color: #333333;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.2;
	margin: 20px 0 10px 0;
}

.about .team-intro h1 {
	color: #333333;
	font-size: 34px;
	font-weight: 900;
	line-height: 1;
	margin: 0 0 10px 0;
}

.about .team-intro p {
	color: #A1A1A1;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0;
}

.about .team {
	padding-top: 50px;
	overflow: hidden;
}


.about .team-image img {
	-webkit-filter: grayscale(40%);
	filter: grayscale(40%);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.about .team-image:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}


.about .team-name h2 {
	font-family: 'Poppins';
	color: #333333;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
	margin: 20px 0 0 0;
}

.about .team-name p {
	color: #333333;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	margin: 10px 0 0 0;
}

/* --------- About Box Section ------ */

.about-box {
	padding: 0 0 50px 0;
	overflow: hidden;
}

.about-box .box-intro {
	padding: 100px 0 50px 0;
	max-width: 500px;
	overflow: hidden;
}


.about-box .box-intro h1 {
	color: #333333;
	font-size: 32px !important;
	font-weight: 900;
	line-height: 1;
	margin: 0 0 30px 0;
}

.about-box .box-intro p {
	color: #A1A1A1;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0;
}


.about-box .details {
	padding: 10px;
}

.about-box .details h1 {
	color: #333333;
	font-size: 32px;
	font-weight: 900;
	line-height: 1;
	margin: 0 0 30px 0;
}

.about-box .details p {
	color: #A1A1A1;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0;
}


.btn-hyper {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
	letter-spacing: 0;
  display: inline-block;
	margin: 20px auto;
	position: relative;
	color: #FF3300;
	text-decoration: none;
}

.btn-hyper:hover {
	text-decoration: none;
	color: #FF3300;
}


.btn-hyper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #FF3300;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.btn-hyper:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




/* ------------------------------------------------------------
---------------- ABout Page Styling Ends Here ----------------
-------------------------------------------------------------*/



/* ------------------------------------------------------------
------------ Services Pahe Styling Starts Here ----------------
--------------------------------------------------------------*/


.services {
	padding: 150px 0 0 0;
	overflow: hidden;
}

.services .services-intro {
	padding: 100px 0 100px 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.5)), url(/images/services.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

.services .services-intro img {
	padding: 50px 0 0 0;
}

.services .services-intro h1 {
	color: #222;
	font-size: 32px;
	font-weight: 900;
	line-height: 1;
	margin: 0 0 20px 0;
}

.services .services-intro p {
	color: #222;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0;
}

.services-box {
	padding: 0 0 50px 0;
	overflow: hidden;
}


.services-box .box-intro {
	max-width: 450px;
	margin: 0 auto;
	padding: 75px 0 75px 0;
}


.services-box .box-intro h1 {
	color: #222;
	font-size: 32px;
	font-weight: 900;
	line-height: 1;
	margin: 0 0 20px 0;
}

.services-box .box-intro p {
	color: #222;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0;
}

.services-box .col-md-4 {
	padding: 20px;
	cursor: pointer;
}

.services-icon {
	margin-bottom: 20px;
}

.services-icon i {
	font-size: 42px;
	color: #FF5C33;
}



.services-text h1 {
	color: #222;
	font-size: 24px;
	font-weight: 900;
	line-height: 1;
	margin: 0 0 20px 0;
}

.services-text p {
	color: #222;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0;
}

.services .about-box {
	padding: 50px 0 50px 0;
	overflow: visible;
}

.services .about-box .box-intro {
		padding: 100px 0 50px 0;
		max-width: 500px;
		margin: 0 auto;
		overflow: visible;
}

.services .about-box .details {
	max-width: 500px;
	margin: 0 auto;
}


/*----------------------------------------------------------------
--------------- Portfolio Page Styling Starts Here -----------------
-----------------------------------------------------------------*/



.project-section {
	padding: 150px 0 50px 0;
}

.project-section .project-intro {
	overflow: hidden;
}

.project-section .project-intro h1 {
	font-size: 34px;
	font-weight: 900;
	margin: 0 0 15px 0;
}

.project-section .project-intro p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	letter-spacing: 0;
	color: #A1A1A1;
}

.project {
	padding: 50px 0 0 0;
	overflow: hidden;
}

.project .owl-carousel {
	padding: 0 0 50px 0;
}


.project-details {
	background: #ededf7;
	overflow: hidden;
	text-align: left;
	padding: 30px 20px 30px 20px;
}

.project-details .inner {
	padding: 0 0 50px 0;
}

.project-details ul {
	list-style-type: none;
}

.project-details ul li {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	color: #A1A1A1;
	line-height: 1.8;
}

.project-details ul li span {
	font-weight: 600;
	color: #444444;
	margin-right: 10px;
}

.project-details h2 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	color: #454545;
	line-height: 1.2;
}

.project-details p {
	font-family: 'Playfair Display';
	font-size: 26px;
	font-weight: 400;
	color: #444444;
	line-height: 1.2;
}


.project-nav {
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}

.left-nav {
	position: absolute;
	left: 20px;
}

.right-nav {
	position: absolute;
	right: 20px;
}

.left-nav a, .right-nav a {
	text-decoration: none;
}

.left-nav span {
	position: absolute;
	top: 25%;
	left: 30px;
	font-family: Poppins;
	font-size: 18px;
	line-height: 1;
	color: #808080;
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-o-transform: translateX(10px);
	 transform: translateX(10px);
	 -webkit-transition: 0.5s;
	 -moz-transition: 0.5s;
	 -o-transition: 0.5s;
	 transition: 0.5s;
}

.right-nav span {
	position: absolute;
	top: 25%;
	right: 30px;
	font-family: Poppins;
	font-size: 18px;
	line-height: 1;
	color: #808080;
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	-o-transform: translateX(-10px);
	 transform: translateX(-10px);
	 -webkit-transition: 0.5s;
	 -moz-transition: 0.5s;
	 -o-transition: 0.5s;
	 transition: 0.5s;
}

.left-nav i {
	display: inline;
	font-size: 34px;
	color: #808080;
}

.right-nav i {
	display: inline;
	font-size: 34px;
	color: #808080;
}

.left-nav:hover span, .right-nav:hover span {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	 transform: translateX(0);
}


/*  ------- Project Section 2 ----- */

.section-2 {
	padding: 150px 0 50px 0;
	overflow: hidden;
}

.section-2 .title-left {
	padding: 20px 0 0 0;
}

.section-2 .title-left h5 {
	font-size: 18px;
	font-weight: 900;
	color: #FF3300;
}

.section-2 .title-left h5::before {
	content: "";
	display: inline-block;
	height: 1px;
	width: 50px;
	background: #A1A1A1;
	margin-bottom: 5px;
	margin-right: 10px;
}

.section-2 .project-intro h1 {
	margin: 0 0 15px 0;
}

.section-2 .project-intro h4 {
	font-family: Poppins;
	font-size: 16px;
	color: #666666;
	margin: 0 0 30px 0;
}

.section-2 p {
	margin: 0 0 20px 0;
}

.section-2-details {
	padding: 75px 0 50px 0;
}

.section-2 .section-2-details h1 {
	font-family: Poppins;
	font-weight: 600;
	letter-spacing: 0;
	font-size: 24px !important;
}


.section-2-details ul {
	list-style-type: none;
}

.section-2-details ul li {
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 400;
	color: #444444;
	line-height: 1.8;
}

.section-2-details ul li a {
	color: #FF3300;
	text-decoration: none;
}

.section-2-details ul li span {
	font-weight: 600;
	margin-right: 10px;
}

#basicExample {
	margin: 50px 0 0 0;
}





/*----------------------------------------------------------------
--------------- Contact Page Styling Starts Here -----------------
-----------------------------------------------------------------*/

.contact {
	padding: 200px 0 50px 0;
	overflow: hidden;
}

.contact-intro {
	overflow: hidden;
	padding: 0 0 100px 0;
}

.contact-intro h1 {
	font-size: 34px;
	font-weight: 900;
	margin: 0 0 20px 0;
}

.contact-intro p {
	font-size: 12px;
	line-height: 1.4;
	color: #A1A1A1;
}

.contact-details {
	padding: 100px 0 0 0;
	overflow: hidden;
}

.contact-details .col-sm-4 {
	margin-bottom: 20px;
}

.contact-details i {
	font-size: 32px;
	color: #A1A1A1;
}

.contact-details h1 {
	font-size: 21px;
	line-height: 1.2;
}



/* ------- Form ------ */

.contact-form {
	padding-top: 50px;
}

label {
	display: block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
	text-align: left;
}

.form-control {
  border: 0px;
  border-radius: 0px;
  margin-top: 10px;
  background: transparent;
  margin-bottom: 40px;
  border-bottom: 1px solid #999999;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
    transition: 0.5s;
}

.form-control:focus {
  border-color: #FF0000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.form-control::-webkit-input-placeholder {
  font-family: Poppins;
  font-size: 12px;
  color: #999999;
}
.form-control:-moz-placeholder {
  font-family: Poppins;
  font-size: 12px;
  color: #999999;
}
.form-control::-moz-placeholder {
  font-family: Poppins;
  font-size: 12px;
  color: #999999;
}
.form-control:-ms-input-placeholder {
  font-family: Poppins;
  font-size: 12px;
  color: #999999;
}

.text-muted {
  font-family: Poppins;
  font-size: 12px;
  color: #222;
}

.text-muted strong {
  color: #FF3333;
}

.btn-send {
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  border-radius: 0px;
  color: #FFFFFF;
  background: #FF0000;
	border-color: #FF0000;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
    transition: 0.5s;
}

.btn-send:hover {
  color: #FF0000;
  background: transparent;
	border-color: #FF0000;
  outline: none !important;
}

.btn-send:focus {
  color: #FFFFFF;
  background: #FF0000;
	border-color: #FF0000;
  outline: none !important;
}

/* -------- Contact Section Styling Ends ---- */



/* ----------------------------------------------------
----------- Footer Styling Starts Here ----------------
-----------------------------------------------------*/

.footer {
	padding: 25px 0 20px 0;
	background: #F3F3F3;
	text-align: center;
}

.footer p {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	display: inline-block;
}

.footer ul {
	list-style-type: none;
	text-align: center;
	margin-top: 10px;
}

.footer ul li {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
	letter-spacing: 0;
  display: inline-block;
	margin-left: 6px;
  margin-right: 6px;
}

.footer ul li a {
  position: relative;
  display: inline-block;
  color: #444444;
  text-decoration: none;
}

.footer ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #FF3300;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.footer ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.no-touch .footer ul li a:hover {
  text-decoration: none;
  color: #000;
}



/*----------------------------------------------------
------------- All ------------------------------------
--------------------- Media --------------------------
------------------------------- Queries --------------
-----------------------------------------------------*/

 @media only screen and (min-width: 767px) {

	 .logo {
		 left: 8.5%;
	 }

	 .nav-trigger {
		 right: 9%;
		 top: 25px;
		 position: absolute;
	 }

	 #left, #right {
			top: 0; bottom: 0;
			width: 60px;
			}
	 #left { left: 0; }
	 #right { right: 0; }


	 .main .intro h1 {
	 	font-size: 64px;
	 }

	 .cta {
	 	background: #FFFFFF;
	 	padding: 100px 0 100px 0;
	 }

	 .cta .inner h1 {
	 	color: #3D3D3D;
	 	font-size: 32px;
	 	font-weight: 400;
	 	line-height: 1.2;
	 }

	 .about .about-intro h1 {
	 	font-size: 64px;
	 }

	 .about .about-intro p {
	 	font-size: 14px;
	 }

	 .about .team-intro h1 {
	 	font-size: 64px;
	 }

	 .about .team-intro p {
	 	font-size: 14px;
	 }

	 .about-box .box-intro {
	 	padding: 100px 0 30px 0;
	 }

	 .about-box .box-intro h1 {
	 	font-size: 48px !important;
	 }

	 .about-box .box-intro p {
	 	font-size: 14px;
	 }

	 .about-box .details h1 {
	 	font-size: 34px;
	 }

	 .about-box .details p {
	 	font-size: 14px;
	 }

	 .about-box .details {
	 	padding: 50px 90px 90px 0;
	 }

	 .services .services-intro h1 {
	 	font-size: 54px;
	 }

	 .services .services-intro p {
	 	font-size: 14px;
	 }

	 .services-box .box-intro h1 {
	 	font-size: 48px;
	 }

	 .services-box .box-intro p {
	 	font-size: 14px;
	 }

	 .services-box .col-md-4 {
	 	padding: 0 50px 0 50px;
	 }

	 .services-text h1 {
	 	font-size: 24px;
	 }

	 .services-text p {
	 	font-size: 14px;
	 }

	 .project-section {
	 	padding: 150px 0 50px 0;
	}


	 .project-section .project-intro h1 {
	 	font-size: 54px;
	 }

	 .project-section .project-intro p {
	 	font-size: 13px;
	}

	.project-details .inner {
		padding: 0;
	}

	.contact-intro h1 {
		font-size: 54px;
	}

	.contact-intro p {
		font-size: 14px;
	}

	.contact-details {
		padding: 100px 0 50px 0;
		overflow: hidden;
	}

	.contact-details .col-sm-4 {
		margin-bottom: 0;
	}



	 .footer {
		 text-align: left;
	 }

	 .footer ul {
	 	list-style-type: none;
	 	text-align: right;
		margin-top: 0;
	 }

}

@media only screen and (min-width: 769px) and (max-width: 991px) {
	#left, #right {
		top: 0; bottom: 0;
		width: 20px;
	}
}

@media only screen and (max-width: 768px) {

		 .about .team-section {
			 padding: 50px 0 0 0;
		 }

		 .about .team-name {
			 padding-bottom: 20px;
		 }

		 .about .team-image img {
			 width: 100px !important;
			 height: 100px !important;
		 }

}

@media only screen and (min-width: 767px) and (max-width: 1280px) {
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
	}

	.about {
		padding: 200px 10px 0 10px;
	}

}

@media only screen and (min-width: 767px) and (max-width: 991px ) {
	.about-box .details {
	 padding: 30px 30px 30px 0;
	}

}
